@charset "utf-8";
/* CSS Document */
body{
	background-image: url(aluno2.fw.png);
	}
	
#interface{
	width:1024px;
	height:768px;
	margin: 0 auto;
	background-color: #6F0;
	}
	
h1{
	text-align:center
	}
header#cabecalho{
	width:1024px;
	height:70px;
	float:left;
	}

nav#menu{
	width:1024px;
	height:75px;
	float:left;
	background-color: #FF3;
	}

nav#menu a{
	text-decoration:none;
	color:#000;
	}
	
section#corpo{
	width:1024px;
	height:573px;
	float:left;
	background-color: #900;
	}

section#corpo p{
	margin: 50px 0px 0px 25px;
	font-size:18px;
}
	
section#corpo h2{
	margin: 10px 0px 0px 25px;
	 }
	 
	
.centro{
	text-align:center;
	}
